@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.navbar-brand {
 font-family: 'Grand Hotel', cursive;
}

.signin_title{
  font-family: 'Grand Hotel', cursive;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(3, minmax(18rem, 1fr));
  justify-items: center;
  grid-gap: 10px;
  margin-top: 40px;
}

.profile{
   width: 80%;
  margin:20px auto;
}

.createpost{
  width: 80%;
  margin:20px auto;
}

.item{
  width: 20rem;
}

.home{
   width: 80%;
  margin:20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bi{
  margin-right: 12px;
}

